.intro{
    width: 100%;
    height:900px;
    background-color: #FFF9F4;
}
.nav-img{
    width: 300px;
    margin-top: 35px;
    margin-left: 55px;

}
.nav-text{
    color: black;
    margin-left: 90px;
    padding-top: 18px;
    
}
.first-img{
    margin-left: 120px;
    margin-top: 40px;

}
.first-text{
    padding: 100px;
    
    
}

.similar-color{
    color: #FA804C;
}
.similar-color2{
    background-color: #3B4DE9 ;
    color: white;
    border-radius: 15px;
}
.shoe-card-footer{
    background-color: white;
    border: 0;
}
.last-section{
    width: 75%;
    padding: 10px;
    margin-top: 90px;
    padding-bottom: 40px;
    margin-left:100px ;
}
.logo-img{
    width: 70px;
    height:70px;
}
.last-section .bottom-div{
    padding: 3px;
    margin: 10px;
    border-radius: 10px:
}
.intro-2{
    width: 100%;
    height: 600px;
}
